<%#= link_to 'Edit', edit_project_path(@project), class: 'btn btn-outline-primary' %>
<%#= link_to 'Back', root_path, class: 'btn btn-outline-secondary' %>

<h5><%= @project.name %></h5>
<div class="row">
  <!--  Pending pipeline -->
  <div class="col-3 pipeline-todo">
    <h6>To do</h6>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <!--  Started pipeline -->
  <div class="col-3 pipeline-doing">
    <h6>Doing</h6>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <!--  Delivered pipeline -->
  <div class="col-3 pipeline-validating">
    <h6>Validating</h6>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <!--  Accepted pipeline -->
  <div class="col-3 pipeline-done">
    <h6>Done</h6>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div>

